body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: black;
}

.App {
  font-family: "Arial", sans-serif;
  margin: 40px;
  width: 80%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  font-size: 90px;
}

p {
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 60px;
  margin-left: 250px;
  font-family: "Times New Roman", Times, serif;
}

.gif-right {
  max-width: 400px;
  height: auto;
  float: right;
  margin-right: 60px;
}

.navbar .nav-link {
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

.navbar .nav-link:hover {
  color: violet;
}

html {
  scroll-behavior: smooth;
}

