/* App.css
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: black;
}

.content {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.content h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
} */

.App {
  font-family: "Arial", sans-serif;
  margin: 40px;
  width: 80%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: 80px; */
}

h1 {
  color: white;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  font-size: 90px;
}

p {
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 60px;
  margin-left: 250px;
  font-family: "Times New Roman", Times, serif;
}

.gif-right {
  max-width: 400px;
  height: auto;
  float: right;
  margin-right: 60px;
}

.navbar .nav-link {
  color: white;
  font-weight: bold;
  margin: 0 10px;
}

.navbar .nav-link:hover {
  color: violet;
}

html {
  scroll-behavior: smooth;
}

.image-slider .slide-container {
  position: relative;
  width: 100%;
}

.image-slider .indicators {
  display: inline-block;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.react-slideshow-container .nav {
  display: flex;
  justify-content: center;
}

.react-slideshow-container .nav .indicators {
  background-color: grey;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.react-slideshow-container .nav .active {
  background-color: #333;
}
